<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
    <h4><%= plant.name %></h4>
    <% plant.tags.each do |tag| %>
      <div class="card-tags">
        <% plant.tags.each do |tag| %>
            <span><%= tag.category %></span>
        <% end %>
        <%= link_to "+", new_plant_plant_tag_path(plant) %>
        </div>
    <% end %>

    <%= link_to plant_path(plant), 
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, 
      style: "color: white;" do %>
        <i class="fa-solid fa-trash-can"></i>
    <% end %>
  </div>